.container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.previewing-area {
    position: sticky;
    top: 0;
    width: 27%;
    height: 95vh;
    right: 0.5em;

    margin: 1em;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
    z-index: 2;

    display: flex;
    flex-direction: column;

    gap: 3px;

    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.previewing-area::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.previewing-area *{
    margin-left: auto;
    margin-right: auto;
}

.preview-tooltip {
    font-family: 'MinecraftiaRegular';
    border-image-source: url("/melyra-db/assets/tooltip_texture.png");
    border-image-slice: calc(50 / 184 * 100%) calc(80 / 284 * 100%) fill;
    border-image-width: 8px 8px;
    color: var(--primary-color);
    font-size: .75em;
    width: 100%;
    min-height: max-content;
    padding-top: 6px;
    padding-left: 12px;
    padding-bottom: 8px;
    white-space: pre;
}

#previewCanvas {
    width: 40%;
    aspect-ratio: 1 / 1;
    background-color: rgba(56, 57, 97, 0.25);
    border-radius: 5px;
    image-rendering: pixelated;

    z-index: 1;
}

.editing-area {
    min-height: max-content;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 1em;
    margin-right: 5em;
}

.editing-area .group-label {
    position: relative;
    left: 2%;
    align-self: flex-start;
    margin-top: 2em;
    margin-bottom: 0.5em;
    text-decoration: underline;
    font-size: 1.8em;
}

.inputbox {
    height: 4em;
    width: 30em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
    border: 2px solid;
    border-color: rgba(56, 57, 97, 0.25);
    border-radius: 3px;
}

.inputbox div:not(.stat-label) {
    margin-left: 0;
    width: 10em;
    margin-right: 1em;
    position: relative;
    left: 5px;
}

.hide {
    display: none;
}

.identified-name-toggle {
    font-family: 'MinecraftiaRegular';
    color: white;
    background-color: var(--background-color);
    border: solid 1px;
    border-color: var(--background2-color);
    padding: 0;
    margin-right: 0.5em;
    width: 32px;
    height: 32px;
    aspect-ratio: 1 / 1;
}

.button-toggled {
    background-color: var(--background2-color);
    border-color: var(--accent1-color)
}

.stat-label {
    margin-left: 0;
    width: 26em;
    margin-right: 1em;
    position: relative;
    left: 5px;
}

.inputbox select option {
    font-size: 0.8em;
}

.inputbox .data-input {
    left: 15%;
    height: 50%;
    width: 80%;
    font-size: large;
    font-family: 'MinecraftiaRegular';
    font-weight: 200;
    padding-left: 8px;
    border-radius: 5px;
    background-color: var(--background2-color);
    color: var(--primary-color);
    margin: 5px;
}

.hidden {
    display: none;
}

.toggle-range-button {
    width: 6em;
    font-family: inherit;
    margin: 1em;
    font-weight: 400;
    background: var(--accent2-color);
    border: 2px solid;
    border-color: var(--background-color);
    border-radius: 3px;
}

.toggle-range-button:hover {
    background-color: var(--accent3-color);
}

#statData {
    min-height: max-content;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 1em;
}

.ability-data {
    min-height: max-content;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 1em;
    margin-left: 4em;
    padding: 5px;
    border: solid 1px;
    border-radius: 3px;
    border-color: aquamarine;
}

.enchantment-data {
    min-height: max-content;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 1em;
    padding: 5px;
    border: solid 1px;
    border-radius: 3px;
    border-color: aquamarine;
}

.enchantment-list{
    display: flex;
    flex-direction: column;
}

.enchantment-list div[data-order="6"]{
    display: none;
}

.showAllToggle:has(input:checked) ~ .enchantment-list div[data-order="6"] {
    display: flex;
}

#abilitiesData {
    min-height: max-content;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 1em;
}

.changing-button {
    background-color: var(--background2-color);
    border: 1px solid;
    border-radius: 2px;
    border-color: black;
    font-family: inherit;

    font-size:large;
    font-weight: 600;

    color: var(--accent1-color);

    transition: border-color 0.33s;
}


.changing-button:hover {
    border-color: var(--accent1-color);

    transition: border-color 0.33s;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
}

.costs-box {
    margin-top: 1em;
    border: solid 1px;
    border-radius: 2px;
    display:flex;
    flex-direction: column;
}

.level-box {
    margin: 10px;
    border: solid 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cost-box {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cost-box .inputbox {
    width: 260px;
    margin: 2px;
    font-size: 14px;
}

.material-import {
    background: var(--accent2-color);
    border: 2px solid;
    border-color: var(--background-color);
    border-radius: 3px;
    width: 38px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.material-import:hover {
    background-color: var(--accent3-color);
}

.material-import img {
    width: 200%;
    height: 100%;
}

.material-chooser {
    position: fixed;

    --mat-chooser-width: 700px;
    --mat-chooser-height: 500px;

    width: var(--mat-chooser-width);
    height: var(--mat-chooser-height);

    left: calc(50% - calc(var(--mat-chooser-width) / 2));
    top: calc(50% - calc(var(--mat-chooser-height) / 2));

    border: solid 2px;
    border-color: var(--primary-color);

    background-color: var(--background2-color);

    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: 4px;

    z-index: 10;

    display: none;
}

.material-chooser-grid {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 80px);
    gap: 32px;
    grid-auto-rows: minmax(80px, auto);
    align-items: normal;
}

.material-chooser-grid .material-import-option {
    background-color: var(--primary-color-transparent);;
}


.close-material-import {
    background: var(--accent1-color);
    border: 2px solid;
    border-color: var(--background-color);
    border-radius: 3px;
    width: 50px;
    height: 50px;
}


.close-material-import:hover {
    background-color: var(--accent3-color);
}

.material-import-option {
    border: 2px solid;
    border-color: var(--background-color);
    border-radius: 3px;
    width: 98px;
    height: 98px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: border-color 0.25s;
}

.material-import-option:hover {
    border-color: var(--accent1-color);

    transition: border-color 0.25s;
}

.material-import-image {
    image-rendering: pixelated;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
}